<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/common :: head">
</head>
<body id="page-top">

<nav th:replace="fragments/common :: navbar">
</nav>

<h2 class="display-1 text-lg-center">Advanced training</h2>
<div class="row">
    <div class="col-lg-6 order-lg-2 text-lg-center">
        <div class="p-5"><img class="img-fluid rounded-circle"
                              src="https://res.cloudinary.com/algruev/image/upload/v1636570994/Fitshop/advanced-girl_rertxd.jpg"
                              alt="pic"/></div>
    </div>
    <div class="col-lg-6 order-lg-2 text-lg-center">
        <div class="p-5"><img class="img-fluid rounded-circle"
                              src="https://res.cloudinary.com/algruev/image/upload/v1636570982/Fitshop/mikeyjpg_hlhkie.jpg"
                              alt="pic"/></div>
    </div>
</div>

<div class="container-fluid px-5">
    <div class="row gx-5 align-items-center">
        <div>
            <div class="p-5">
                <h1>You are advanced when you have to get pretty much everything in line to guarantee gains.</h1>

                <h2 class="font-italic text-lg-center" style="margin: 50px">For the best long term hypertrophy results, advanced lifters should:</h2>
                <ol>
                    <h3><li>Begin to focus on mind-muscle connection.</li></h3>
                    <p>
                        Mind-muscle connection is only something that you can use when training hard, because a high level of
                        tension or burn doesn't occur otherwise.
                    </p>
                    <h3><li>Begin to focus on exercises that yield the best SFRs(Stimulus to Fatigue Ratio).</li></h3>
                    <p>
                        You can also explore different exercises and try to pick the ones that have the best SFRs for you.
                    </p>
                    <h3><li>Train mostly(50%) in the 10-20 rep range, with the rest of training in the 5-10 and 20-30 rep ranges.</li></h3>
                    <p>
                       You have to take advantage of all rep ranges for maximum growth.
                    </p>
                    <h3><li>Perfect pushing to failure while keeping a mind-muscle connection.</li></h3>
                    <p>
                        You have to go to failure while keeping perfect form and make sure that the trained muscle is the
                        limiting factor.
                    </p>
                    <h3><li>Train to MRV(Maximum recoverable volume) most mesocycles before deloading, potentially
                    starting at 2 RIR instead of 3-4, and then ending the final week beyond failure.</li></h3>
                    <p>Forced sets, dropsets are your best friends as an advanced individual at the end of a mesocycle.
                    </p>
                    <h3><li>Consider either lots of prioritization phases or doing a few double daily sessions(6-10 sessions per week).</li></h3>
                    <p>
                        You can no longer be doing full body training and still benefiting. You might choose to prioritize
                        chest and back for example, while putting everything else on the backburner for a while, or you can do
                        double sessions if your lifestyle and recovery is right for it.
                    </p>
                </ol>
            </div>
        </div>
    </div>
</div>


<footer th:replace="fragments/common :: footer">
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>