<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/common :: head">
</head>
<body id="page-top">

<nav th:replace="fragments/common :: navbar">
</nav>

<h2 class="display-1 text-lg-center">Beginners training</h2>
<div class="row">
    <div class="col-lg-6 order-lg-2 text-lg-center">
        <div class="p-5"><img class="img-fluid rounded-circle"
                              src="https://res.cloudinary.com/algruev/image/upload/v1636550565/Fitshop/beginner-girljpg_u9meor.jpg"
                              alt="pic"/></div>
    </div>
    <div class="col-lg-6 order-lg-2 text-lg-center">
        <div class="p-5"><img class="img-fluid rounded-circle"
                              src="https://res.cloudinary.com/algruev/image/upload/v1636550712/Fitshop/beginner-boyjpg_mcy3gk.jpg"
                              alt="pic"/></div>
    </div>
</div>

<div class="container-fluid px-5">
    <div class="row gx-5 align-items-center">
        <div>
            <div class="p-5">
                <h1>You are a beginner if you can make great gains by simply training hard and consistently, with almost
                    no
                    thought to training plan design or even nutrition.</h1>

                <h2 class="font-italic text-lg-center" style="margin: 50px">For the best long term hypertrophy results, beginners should:</h2>
                <ol>
                    <h3><li>Focus mostly on compound basics.</li></h3>
                    <p>
                        They are very efficient uses of time, they grow slabs of muscle, they have a huge RSM, they generate some
                        fatigue, but beginners are not that strong and can't generate that much force. They teach you how to move in excellent patterns,
                        that you will use in the future.
                    </p>
                    <h3><li>Focus on developing excellent technique beyond anything else.</li></h3>
                    <p>
                        Not only will the technique guarantee you muscle growth, it will keep you safe and once you learn technique
                        it is ingrained and can be used to build on bases on later. If you learn the technique wrong first you have to
                        relearn it, which is a really annoying process. Great thing for beginners is to learn really really good technique,
                        because they don't have problems growing, once the technique is there it's going to fuel excellent growth through
                        their intermediate and advanced phases.
                    </p>
                    <h3><li>Train 2-4 times pew week(slowly adding as adherence and enjoyment hold or improve).</li></h3>
                    <p>
                        You want to have something that you can adhere to for sure. If you try training 7 times a week from the get go
                        you're going to burn out. You want to have enjoyment of the process. Each session should be 30-60 minutes. Later you
                        can always add more.
                    </p>
                    <h3><li>Train each muscle group at every session.</li></h3>
                    <p>
                        Because muscle groups recover rapidly when you are a beginner and because the learning of technique requires lots of
                        reinforcement, what you can do is a whole body split a few times a week.
                    </p>
                    <h3><li>Use mostly the 5-10 rep range.</li></h3>
                    <p>
                        The biggest reason is this - 5-10 reps is enough reps to get good technical practice, but not so many reps per set
                        that you start to fatigue and the technique suffers because you are too tired. The good thing is that this rep range is
                        also relatively heavy and that builds a fantastic strength base and when you learn technique under heavy loads it extends to
                        when you're tired.
                    </p>
                    <h3><li>Cycle from 5-2 RIR (Reps in reserve) (Add load to stay and progress in that range).</li></h3>
                    <p>
                        You shouldn't be doing sets with 1 RIR or 0 RIR aka failure, because your technique is not set in stone yet
                        and it's going to start breaking down the closer you get to true failure. You want to add load as the primary
                        method of progress.
                    </p>
                    <h3><li>Deload when technique becomes shaky and systemic fatigue very notable.</li></h3>
                    <p>
                         When you start feeling chronically fatigued, take a half a week to deload and go again.
                    </p>
                </ol>
            </div>
        </div>
    </div>
</div>


<footer th:replace="fragments/common :: footer">
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>