<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/common :: head">
</head>
<body id="page-top">

<nav th:replace="fragments/common :: navbar">
</nav>

<h2 class="display-1 text-lg-center">Intermediates training</h2>
<div class="row">
    <div class="col-lg-6 order-lg-2 text-lg-center">
        <div class="p-5"><img class="img-fluid rounded-circle"
                              src="https://res.cloudinary.com/algruev/image/upload/v1636568888/Fitshop/intermediate-girl_qiajfg.jpg"
                              alt="pic"/></div>
    </div>
    <div class="col-lg-6 order-lg-2 text-lg-center">
        <div class="p-5"><img class="img-fluid rounded-circle"
                              src="https://res.cloudinary.com/algruev/image/upload/v1636569137/Fitshop/intermediate_zav8nk.jpg"
                              alt="pic"/></div>
    </div>
</div>

<div class="container-fluid px-5">
    <div class="row gx-5 align-items-center">
        <div>
            <div class="p-5">
                <h1>You're intermediate when you first have to think about your training and/or diet to make consistent progress.
                This is often heralded by your first real plateau.</h1>

                <h2 class="font-italic text-lg-center" style="margin: 50px">For the best long term hypertrophy results, intermediates should:</h2>
                <ol>
                    <h3><li>Continue to focus most volume on compound basics.</li></h3>
                    <p>
                        Overhead presses, rows, squats, etc.
                    </p>
                    <h3><li>Explore some different isolations, machines and compound variations every block of training.</li></h3>
                    <p>
                        Close grip bench press, incline bench press, very basic stuff.
                    </p>
                    <h3><li>Begin to employ some sets(20-40%) in the 10-20 rep range.</li></h3>
                    <p>
                        Particularly for the isolation and machine exercises that you have started doing.
                    </p>
                    <h3><li>Begin to push end of mesocycles to 0 RIR and learn to push themselves hard.</li></h3>
                    <p>
                        You have to push yourself, because research on intermediate lifters is very clear - what they think
                        is 3 RIR is really 6 RIR. So this is the time to learn to push yourself, because your technique is
                        already really good.
                    </p>
                    <h3><li>Train to MRV(Maximum recoverable volume) most mesocycles before deloading.</li></h3>
                    <p>
                        This means that you are going to deload after detecting performance reduction. This is how to know
                        you have hit your MRV. You have to push yourself to the limits of volume for maximum results at this stage.
                    </p>
                    <h3><li>Begin to expand to 4-6 sessions per week, most muscles trained 2-4 times per week.</li></h3>
                    <p>
                        The thing about intermediates is that training 3 times a week is not sufficient anymore.
                    </p>
                </ol>
            </div>
        </div>
    </div>
</div>


<footer th:replace="fragments/common :: footer">
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>