<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/common :: head">
</head>

<body>

<nav th:replace="fragments/common :: navbar">
</nav>

<section th:object="${productModel}" class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" th:src="*{imageUrl}" alt="productPicture"/>
            </div>
            <div class="col-md-6">
                <div class="small mb-1 display-4 font-italic" th:text="*{brand}"></div>
                <h1 class="display-4 fw-bolder" th:text="*{name}"></h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-underline display-4" th:text="|*{price}BGN|"></span>
                </div>
                <p class="lead" th:text="*{description}"></p>
                <div class="d-flex">
                    <a class="btn btn-outline-dark flex-shrink-0" th:href="@{/orders/new/{name}(name=*{name})}">Buy</a>

                    <a sec:authorize="hasRole('ADMIN')" class="btn btn-outline-dark flex-shrink-0"
                       th:href="@{/products/update/{id}(id = *{id})}">Update</a>

                    <form sec:authorize="hasRole('ADMIN')" th:action="@{/products/{id}/delete(id=*{id})}" th:method="DELETE">
                        <input type="submit" class="btn btn-outline-dark flex-shrink-0" value="Delete"/>
                    </form>


                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="fragments/common :: footer">
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>